<section class="section--full about__content about__content--off">
	<div class="col col--half">
		I'm a Delhi-bred freelance designer currently studying Cognitive Design, Human-Computer Interaction, and Design at the University of California at San Diego. My vices include typographic pornography, obscure Indian music, Manchester United and (thinking about) writing.
	</div>
	<div class="col col--half">
		I've been making freelancing making websites since high school, and somehow am still managing to do it through college. I'm currently establishing UC San Diego's first student-run design consultancy with my friend. And I'm also a studio lead with <a href="http://designforamerica.com/">Design for America</a> on campus.
	</div>
</section>
