<section class="section--full about__content about__content--off">
	<div class="col col--half">
		<p>
			I'm a Delhi-bred freelance designer currently studying Cognitive Design, Human-Computer Interaction, and Design at the University of California at San Diego. My vices include typographic pornography, obscure Indian music, Manchester United and (thinking about) writing.
		</p>

		<p>
			<ul>
				<li>👋 <a href="mailto:me@prabhavkhandelwal.com">Email me</a> and say hi!</li>
			</ul>

		</p>
	</div>
	<div class="col col--half">
		<p>
			I've been freelancing making websites &amp; stuff since high school, and somehow am still managing to do it through college. On campus, I'm co-founding UC San Diego's first student-run design consultancy and am also a studio lead with <a href="http://designforamerica.com/">Design for America</a>.
		</p>

		<p>
			<ul>
				<li>✏️ Check out my organized collection of <a href="https://dribbble.com/prabhav">glorified doodles</a> at Dribbble.</li>
				<li>🐦 Check out me <a href="https://twitter.com/helloprabhav">tweeting weird things</a> at Twitter.</li>
			</ul>
		</p>
	</div>
</section>
